# IntelliJ IDEA
*.iml
*.ipr
*.iws
/**/.idea

# Gradle
/**/gradle
/**/.gradle
build.gradle

# Android Studio
*.apk
*.ap_
local.properties

# Genereated/build
build/
bin/
gen/
out/
gen-external-apklibs

# Clutter
.DS_Store
Thumbs.db

# etc.
/*/captures
/other