# IntelliJ IDEA
*.iml
*.ipr
*.iws
/*/.idea
/*/classes
/*/gen-external-apklibs

# Gradle
/*/build
/*/gradle
/*/.gradle
build.gradle

# Android Studio
/*/local.properties

# etc.
.DS_Store
/*/captures
/other