# IntelliJ IDEA
*.iml
*.ipr
*.iws
/android-prototype/.idea
/android-prototype/classes
/android-prototype/gen-external-apklibs

# Gradle
/android-prototype/build
/android-prototype/gradle
/android-prototype/.gradle
build.gradle

# Android Studio
/*/local.properties

# Isaac Wiki's data
!/data/*

# etc.
.DS_Store
/*/captures
/other
